@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import url('https://fonts.googleapis.com/css?family=Raleway:100');

* {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif; font-size: 20px;

  /* Font antialiasing for all web browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 36px;
  color: white;
}

h1, h2, h3 {
  font-family: 'Raleway';
  font-weight: 100;
}

h1, h2 {
  font-size: 72px;
  color: white;
}

h3 {
  font-size: 50px;
  color: #7F7F7F;
}

img {
  margin: 0;
}

/* Remove all link styling & animate static-hover state */
a {
  color: #2b2b2b;
  text-decoration: none;
}

/* Parent Container */
section {
  width: 100%;
  min-height: 85vh;
  display:block;
  overflow:auto;
  text-align: center;

  /* Incorporate Flex */
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-flex-direction: column;
  flex-direction: column;

  /* Justify footer position */
  position: relative;

  /* Content box shadow */
  -webkit-box-shadow: inset 0px 15px 60px -15px #000000;
  -moz-box-shadow: inset 0px 15px 60px -15px #000000;
  box-shadow: inset 0px 15px 60px -15px #000000;
}

.content {
  margin: 10vh;
}

.social {
  margin: 60px 30px;
}

/* Splash */
.splash {
  background: url("../images/background.png") no-repeat center center fixed;
  background-size: cover;
}

.splash .links {
  display: inline-flex;
}

.links a {
  margin: 50px;
  font-family: 'Source Sans Pro';
  font-size: 2em;
}

/* About Me */
.about_me {
  background-color: #0F5E7F;
}

.about_me img {
  margin: 80px 20px;
}

/* Work */
.work {
  background: url("../images/coderfactorymug.png") no-repeat center center fixed;
  background-size: cover;
}

/* Contact */
.contact {
  background-color: #6D25B2;
}

.nav_icons img {
  height: 70px;
}

/* BEGIN Chevron Icons */

.chevron_dark,
.chevron_light {
  position: absolute;
  bottom: 0;
}

.chevron_dark a {
  animation-name: flash;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  font-weight: 100;
  font-size: 60px;
  color: #303030;
  overflow: hidden;
}

.chevron_light a {
  animation-name: flash;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  font-weight: 100;
  font-size: 60px;
  color: white;
  overflow: hidden;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/* END Chevron Icons */

/* Nav Bar*/
.top_nav {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #2b2b2b;
    overflow: hidden;

    -webkit-box-shadow: 0px 15px 60px -15px #000000;
    -moz-box-shadow: 0px 15px 60px -15px #000000;
    box-shadow: 0px 15px 60px -15px #000000;

    border-bottom: 1px solid #7b7b7b;
}

.top_nav img {
  margin: 23px 30px;
  height: 30px;
  float: right;
  display: inline-flex;
  text-decoration: none;
  color: white;
  font-size: 30px;
}
