@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import url('https://fonts.googleapis.com/css?family=Raleway:100');

* {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif; font-size: 20px;

  /* Font antialiasing for all web browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Parent Container */
section {
  width: 100%;
  height: 100vh;
  text-align: center;

  /* Incorporate Flex */
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  -webkit-flex-direction: column;
  flex-direction: column;

  /* Justify footer position */
  position: relative;
}

p {
  font-size: 1em;
  color: white;
}

h1 {
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 60px;
  color: white;
}

h2 {
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 60px;
  color: white;
}

h3 {
  font-family: 'Raleway';
  font-weight: lighter;
  font-size: 40px;
  color: #7F7F7F;
}

/* Remove all link styling & animate static-hover state */
a {
  color: #2b2b2b;
  animation-name: animate_static;
  animation-duration: 0.5s;
  text-decoration: none;
}

a:hover {
  color: white;
  animation-name: animate_hover;
  animation-duration: 0.5s;
  animation-direction: alternate;
}

/* Static link animation */
@keyframes animate_static {
  0% {
    color: white;
  }
  100% {
    color: #2b2b2b;
  }
}

/* Hover link animation */
@keyframes animate_hover {
  0% {
    color: #2b2b2b;
  }
  100% {
    color: white;
  }
}

img {
  margin: 30px;
}

.content {
  margin: 0 10%;
}

.social {
  margin: 60px 30px;
}

/* Splash */
.splash {
  background: url("../images/background.png") no-repeat center center fixed;
  background-size: cover;
}

.splash .links {
  display: inline-flex;
}

.links a {
  margin: 50px;
  font-family: 'Source Sans Pro';
  font-size: 1.2em;
  text-transform: lowercase;
}

/* About Me */
.about_me {
  background-color: #0F5E7F;
}

/* Work */
.work {
  background: url("../images/coderfactorymug.png") no-repeat center center fixed;
  background-size: cover;
}

/* Contact */
.contact {
  background-color: #6D25B2;
}

/* BEGIN Navigation Arrow */

.nav_arrow_dark a {
  animation-name: flash;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  font-weight: 100;
  font-size: 60px;
  color: #303030;
  overflow: hidden;
}

.nav_arrow_light a {
  animation-name: flash;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  font-weight: 100;
  font-size: 60px;
  color: white;
  overflow: hidden;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/* END Navigation Arrow */
